                <!--Menu-->
                <ul class="el-menu">
                    <li>
                        <a href="index.html">
                            <span class="icon"></span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="page-about.html">
                            <span class="icon"></span>
                            <span class="text">About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            <span class="icon"></span>
                            <span class="text">Services</span>
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html">
                            <span class="icon"></span>
                            <span class="text">Portfolio</span>
                        </a>
                    </li>
                    <li>
                        <a href="page-contact.html">
                            <span class="icon"></span>
                            <span class="text">Contact Us</span>
                        </a>
                    </li>
                </ul>
                <!--/-->