${require('./_html.html') base="" skin="1"}
    <!--Header-->
    <header class="app-header app-header-1 ${props.class}">
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo">AfraCode</div>
                        <button class="button button-menu button-display-sidenav">
                            <span></span>
                        </button>
                    </div>
                    <div class="col-md-6">
                        ${require('../menu/_1.html')}
                    </div>
                    <div class="col-md-3 text-right">
                        <a href="#" class="button button-md button-contact-us button-line-secondary">
                            <span class="text">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/-->
${require('../sidenav/_1.html')}