${require('./_html.html') base="" skin="1"}
    <!--Header-->
    <header class="app-header app-header-1 ${props.class}">
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-8">
                        <div class="header-logo">AfraCode</div>
                        ${require('../menu/_1.html')}
                        <button class="button button-menu button-display-sidenav">
                            <span></span>
                        </button>
                    </div>
                    <div class="col-md-3 col-lg-4 text-right">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/-->
${require('../sidenav/_1.html')}