<!--Footer-->
<footer class="app-footer app-footer-0 ${props.class}">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="el-select-languages">
                        <img src="assets/images/flags/uk.svg" alt="--Alternative--">
                        <span class="text">English</span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>
                <div class="hidden-lg-down col-lg-6">
                    ${require('../menu/_1.html')}
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-right">
                    <p>© 2020 All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/-->
${require('./_html.html')}