/*------------------------------------
    Element: Common
------------------------------------*/
/*------------------------------------
    Element: Heading
------------------------------------*/

// Heading - 15
.el-heading {
    &.el-heading-15 {
        width: 660px;
        max-width: 100%;
        margin: 0 auto $space;   
        text-align: center;
    }
}

